<!DOCTYPE html>

<html>

    <head>

        <title>Techstitiution</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

        <script type="javascript/text" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">

        </script>

    </head>

    <body background="https://s-media-cache-ak0.pinimg.com/originals/58/fe/f4/58fef4b8387260559c6d4c576f163eeb.jpg">
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
        

       <nav class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
                <div class="navbar-header"> 
                    <li class="active">
                    <a class="navbar-brand" href="#">Kryefaqja</a>
                    </li>
                </div>
                
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#">Rreth nesh</a>
                        </li>
                        <li>
                            <a href="#">Publikime</a>
                        </li>
                        <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown">Me shume<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Action</a>
                                </li>
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">One more separated link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input class="form-control" type="text" />
                        </div> 
                        <button type="submit" class="btn btn-default">
                            Kerko
                        </button>
                    </form>
                    <i class="fa fa-facebook" style="font-size:24px;color:#6d6b6b;padding:10px;margin:auto"></i>
                    <i class="fa fa-google-plus" style="font-size:24px;color:#6d6b6b;padding:10px;margin:auto "></i>
                    <i class="fa fa-twitter" style="font-size:24px;color:#6d6b6b;padding:10px;margin:auto"></i>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">Raportime</a>
                        </li>
                        <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown">Formularet<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Action</a>
                                </li>
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>   </div>
                
            </nav>
   
               <form class="col-md-offset-7 col-md-6" role="form">
                <div class="form-group">
                     
                    <label for="exampleInputEmail1">
                        Email address
                    </label>
                    <input class="form-control" id="exampleInputEmail1" type="email" />
                </div>
                <div class="form-group">
                     
                    <label for="exampleInputPassword1">
                        Password
                    </label>
                    <input class="form-control" id="exampleInputPassword1" type="password" />
                </div>
                 
            <button type="button" class="btn btn-primary btn-sm">
                Login
            </button>
            <div class="jumbotron">
                <h2>
                    Aviacioni i Republikes se Kosoves. 
                </h2>
                <p>
Misioni ynë  është krijimi i një sistemi transporti ajror të përshtatshëm dhe të përballueshëm, i cili është në përputhje si me zhvillimet dhe standardet e reja në këtë fushë si dhe me zhvillimin ekonomik të Kosovës.
                <p>
                    <a class="btn btn-primary btn-large" href="#">Learn more</a>
                </p>
            </div>
        </div>
    </div>
</div>

    <!-- Header -->

    {% block header %}

        <header>


        </header>

    {%  endblock %}

    {% block form %}

        <!-- The form rendered from index.html -->

    {% endblock %}

    {% block content %}

        <!-- Results page rendered from results.html -->

    {% endblock %}

    <!-- Footer -->

    {% block footer %}

        <footer>

        </footer>

    {% endblock %}

    </body>

</html>